BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
BracedInitializerIndentWidth: 2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
PPIndentWidth: 2
ObjCBlockIndentWidth: 2
UseTab: Never
ColumnLimit: 120
InsertNewlineAtEOF: true
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortBlocksOnASingleLine: Always
SpaceInEmptyBlock: true
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
IndentCaseBlocks: false
IndentCaseLabels: false
LambdaBodyIndentation: Signature
AllowShortLambdasOnASingleLine: Empty
PackConstructorInitializers: NextLine
BreakConstructorInitializers: AfterColon
AlignAfterOpenBracket: DontAlign
AllowAllArgumentsOnNextLine: true
BreakBeforeBraces: Allman
BraceWrapping:
  AfterControlStatement: true
  AfterCaseLabel: true
  AfterClass: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
SortIncludes: true
NamespaceIndentation: None
CompactNamespaces: false
KeepEmptyLines:
  AtStartOfBlock: false
  AtEndOfFile: true
  AtStartOfFile: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
BreakTemplateDeclarations: Yes
