CompileFlags:
  CompilationDatabase: "_build/Debug"
  Add:
    [
      -Wall,
      -Wextra,
      -Wno-c++98-compat,
      -Wno-c++98-compat-pedantic,
      -Wno-unused-macros,
    ]
  Remove: [-W*, -fno-keep-inline-dllexport, -fvisibility=hidden]

Completion:
  AllScopes: true
  ArgumentLists: FullPlaceholders

Diagnostics:
  UnusedIncludes: None
  Suppress: [builtin_definition, conflicting_types]

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
