[submodule "_external/glm"]
	path = _external/glm
	url = https://github.com/g-truc/glm.git
[submodule "_external/spdlog"]
	path = _external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "_external/glfw"]
	path = _external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "_external/stb"]
	path = _external/stb
	url = https://github.com/nothings/stb.git
[submodule "_external/assimp"]
	path = _external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "_external/asio"]
	path = _external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "_external/flatbuffer"]
	path = _external/flatbuffer
	url = https://github.com/google/flatbuffers.git
[submodule "_external/imgui"]
	path = _external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "_external/args"]
	path = _external/args
	url = https://github.com/Taywee/args.git
[submodule "_external/cpptrace"]
	path = _external/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace.git
[submodule "_external/freetype"]
	path = _external/freetype
	url = https://github.com/freetype/freetype.git
[submodule "_external/utfcpp"]
	path = _external/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "_external/tracy"]
	path = _external/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "_external/bullet"]
	path = _external/bullet
	url = https://github.com/bulletphysics/bullet3.git
