[submodule "_external/glm"]
	path = _external/glm
	url = https://github.com/g-truc/glm.git
[submodule "_external/spdlog"]
	path = _external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "_external/glfw"]
	path = _external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "_external/stb"]
	path = _external/stb
	url = https://github.com/nothings/stb.git
